<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <title>图像色彩增强</title>
</head>
<body>
    <h1>图像色彩增强</h1>
    <input type="file" id="imageInput">
    <button onclick="enhanceImage()">增强图像</button>
    <br>
    <h2>原始图像</h2>
    <img id="originalImage" src="" alt="Original Image" height="300px" width="300px">
    <h2>增强后的图像</h2>
    <img id="enhancedImage" src="" alt="Enhanced Image" height="300px" width="300px">
<!--    <h2>结合后的图象</h2>-->
<!--    <img id="combinedImage" src="" alt="Combined Image" height="300px" width="300px">-->
    <button id="saveButton">保存图片</button>

    <script>

        function enhanceImage() {
            var inputElement = document.getElementById("imageInput");
            var file = inputElement.files[0];

            if (!file) {
                alert("请选择要增强的图像文件！");
                return;
            }

            var formData = new FormData();
            formData.append("files", file);

            // 发送POST请求到Flask端点
            fetch('/enhance', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // 显示原始图像
                var originalImageElement = document.getElementById("originalImage");
                originalImageElement.src = URL.createObjectURL(file);

                // 显示增强后的图像
                var enhancedImageElement = document.getElementById("enhancedImage");
                console.log("enhanced_image_base")
                enhancedImageElement.src = 'data:image/jpeg;base64,' + data.enhanced_image;
                // 结合的图象
                document.getElementById('combinedImage').src = 'data:image/jpeg;base64,' + data.combined_image;

            })

            var enhancedImageElement = document.getElementById("enhancedImage");
            var saveButton = document.getElementById("saveButton");

            // Fetch the enhanced image from the server and update the image element
            fetch("/enhance_image1")
                .then(response => response.json())
                .then(data => {
                    enhancedImageElement.src = "data:image/jpeg;base64," + data.enhanced_image;
                })
                .catch(error => console.error("Error fetching enhanced image:", error));

            // Function to save the enhanced image
            function saveImage() {
                // Create a new anchor element
                var downloadLink = document.createElement("a");

                // Set the download link's attributes
                downloadLink.href = enhancedImageElement.src;
                downloadLink.download = "enhanced_image.jpg"; // Specify the desired file name

                // Trigger a click event on the download link
                downloadLink.click();
            }

            // Attach the saveImage function to the button click event
                saveButton.addEventListener("click", saveImage);
           }
    </script>
</body>
<style></style>
</html>
